/* smooth scroll and default font size set */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* default wrapper - DO NOT CHANGE */
.wrapper {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
}

/* removes default padding and margins*/
body,
ul,
ol,
li,
h1,
h2,
h3,
button,
fieldset,
p {
	margin: 0;
    padding: 0;
}

/* removes list style bullets */
li {list-style: none;}

a {
	color: inherit; 
    transition: all 0.3s;   
}

button {
    background-color: inherit;
    font-family: inherit;   
    border: none; 
    letter-spacing: 0.1rem;
    cursor: pointer;    
    transition: all 0.1s;
}

img {display: block;} 

input {   
    display: block;   
} 

p {line-height: 2.6rem;} 

.draggable { background-color: #4AAE9B; padding: 10px; } 
.dropzone { background-color: #6DB65B; padding: 10px; }
.dragleave {background-color: #ffffff;}
.dragover {background-color: rgb(223, 247, 255);}
