
.modalOuter.visible {
    pointer-events: all;
    opacity: 1;
}

.modalOuter {
    opacity: 0;
    pointer-events: none; 
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10; 
    background-color: #0000003a;
    transition: all 0.2s;
    h3 {margin-bottom: 10px;}
    div {   
        padding: 30px 20px;
        width: 300px;  
        margin: auto;
        background-color: white;
        border: 1px solid #d4d4d4;
        box-shadow: 0 0 5px 5px #24242407; 
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 20; 
    }  
    button {  
        margin-top: 15px;
        color: white;
        background-color: rgb(255, 133, 170);  
        box-shadow: 0 0 10px 2px rgba(231, 122, 155, 0.363);
        cursor: pointer;
        border-radius: 5px;
        padding: 10px 30px;
        transition: all 0.2s;
            &:focus,
            &:hover {background-color: rgb(231, 122, 155);}
    }
    p:last-of-type {font-size: 1.6rem;}
} 

.grade {
    position: absolute;
    left: -10px;
    top: -10px;

    width: 40px;
    height: 40px;
    font-weight: 600;
    color: white;
    background-color: #e02683;
    border-radius: 50%; 
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: 2.2rem;
    font-weight: 600;
}