@import 'setup';
@import 'global';
@import 'quiz';
@import 'chart';
@import 'modal';

body { 
    position: relative;
    background-color: #f2fafd;
    min-height: 100vh;
    min-width: 320px;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif; 
    color: #222222;
} 

h1 {
    display: inline-block; 
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center; 
    margin: 0 auto 10px auto; 
    cursor: pointer;
}

button,
h2 {letter-spacing: 0.2rem;}

header {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #000638;  
    color: white;
    transition: all 0.3s; 
}

.navButtons {
    button {
        font-weight: 600;
        font-size: 1.6rem;
        color: pink;  
        width: 90px;
        padding: 5px 0;
        margin: 0 20px;
    }

    display: flex; 
    align-items: center; 
    justify-content: center; 
}

section {    
    display: flex;  
    justify-content: center;
    padding: 50px 0; 
}

.home { 
    display: flex; 
    text-align: center;
    align-items: center; 
    div { 
        margin: 0 auto;
    }
    p {
        margin-top: 10px; 
    }
    button {
        text-transform: uppercase; 
        font-size: 2rem;
        font-weight: 600;
        margin: 20px 0;
        display: flex;
        align-items: center;    
        border-radius: 5px; 
    } 
}  

footer {  
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    font-size: 1.4rem;
}

// Modifiers 
.disabled {
    pointer-events: none;
    opacity: 0.4;
}

// Transitions 
.fade-enter-active, .fade-leave-active {
    opacity: 1;
    transform: scale(100%);
    transition: all 0.3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: scale(50%);
}

.fadeIn-enter-active, .fadeIn-leave-active {
    opacity: 1; 
    transition: all 0.3s;
}

.fadeIn-enter, .fadeIn-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0; 
}

@media (max-width:768px) { 
    .hiraganaList {
        padding: 50px 0;
        li { font-size: 2.4rem; }
        span:last-child {font-size: 1.4rem;}
    }
} 