@import 'setup';
@import 'global';
@import 'quiz';
@import 'chart';
@import 'modal';

body { 
    position: relative;
    background-color: #f2fafd;
    min-height: 100vh;
    min-width: 320px;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif; 
    color: #222222;
} 

h1 { 
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center; 
    margin: 0 auto 50px auto; 
    cursor: pointer;
}

h2 {margin-bottom: 20px;}

button {letter-spacing: 0.2rem;} 

#app {display: flex;}

header {
    display: none;
    font-size: 2.4rem;
    padding: 20px;
}

aside {
    width: 250px;
    padding: 20px;
    background-color: #150842;
    height: 100vh;
    button {
        display: inline-block;
        position: relative;  
        height: 40px;  
        color: white;
        margin-bottom: 10px;
        background-color: rgb(43, 48, 124); 
        span { 
            text-transform: uppercase;
            font-size: 1.2rem;
            position: absolute;
            left: 8px;
            top: 8px;
        }
        p { 
            font-size: 2rem;
            font-weight: 600;
            position: absolute;
            bottom: 8px;
            right: 8px;
        }  
        &:focus,
        &:hover { 
            color: rgb(14, 14, 14);
            background-color: rgb(195, 233, 255);  
        }
    } 
}  

.home p {
    max-width: 600px;
    line-height: 2.8rem;
}

nav {
    display: flex;
    flex-direction: column; 
} 

main {       
    padding: 30px;
    padding-bottom: 80px;
    display: flex;  
    justify-content: center;
    align-items: center; 
}

footer {  
    position: absolute;
    bottom: 0;
    right: 0; 
    text-align: center;
    font-size: 1.4rem; 
    padding: 10px;
}

main, footer {width: calc(100% - 250px);}

// Modifiers 
.disabled {
    pointer-events: none;
    opacity: 0.4;
}

// Transitions 
.fade-enter-active, .fade-leave-active {
    opacity: 1;
    transform: scale(100%); 
    transition: all 0.3s; 
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: scale(50%); 
}

.fadeIn-enter-active, .fadeIn-leave-active {
    opacity: 1; 
    transition: all 0.3s; 
}

.fadeIn-enter, .fadeIn-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0; 
}

.navOpen {left: 0;}

@media (max-width:768px) { 
    .hiraganaList { 
        grid-gap: 5px;
        li { font-size: 2.4rem; }
        span:last-child {font-size: 1.4rem;}
    }
    .chartOptions {font-size: 1.4rem;}
} 

@media (max-width:600px) { 
    aside {
        position: absolute;
        left: -250px;
        transition: all 0.3s;
    }

    main, footer {width: 100%;}

    header {display: block;}

    #app {flex-direction: column;}
} 