@import url(https://fonts.googleapis.com/css?family=Manrope:400,600|M+PLUS+Rounded+1c);
@import 'setup';
@import 'global';  

h1 {   
    font-size: 2rem;
    font-weight: 600; 
    cursor: pointer;
}

h2 {margin-bottom: 20px;} 

header {   
    color: white;
    position: fixed; 
    z-index: 20;
    display: flex;
    align-items: center;
    font-size: 2.4rem; 
    height: 60px;  
    width: 100%;
    padding: 0 20px;
    background-color: #181818;
    border-bottom: 1px solid rgb(186, 227, 255);
    button {
        position: absolute;
        left: 20px;
        color: white;
        display: none;
    }
    a {text-decoration: none;}
}

section {padding-bottom: 50px; }

nav { 
    position: fixed;
    top: 60px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;

    height: calc(100vh - 60px);
    width: 250px;
    padding: 30px 20px 10px 20px; 
    
    color: #2e2e2e;
    font-size: 1.6rem;  
    background-color: white;
    
    border-right: 1px solid rgb(186, 227, 255);
    transition: all 0.3s;
        & > div { 
            display: flex;
            flex-direction: column; 
        }
        h3 {  
            font-size: 1.5rem;
            letter-spacing: 0.1rem; 
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgb(163, 163, 163); 
        }   
        a {  
            text-align: right;
            padding: 5px 10px; 
            margin-bottom: 5px;
            text-decoration: none;
            &:focus,
            &:hover { 
                color: rgb(14, 14, 14);
                background-color: rgb(231, 231, 231); 
            }
        } 
        p {  
            font-size: 1.4rem;
            text-align: center; 
            justify-self: flex-end;
            a {
                text-decoration: underline;
                padding: 0;
            }
        }
}   

.about {
    line-height: 2.8rem;
    max-width: 600px;
    margin: 0 auto;
} 

main { display: flex; }

.main {  
    position: absolute;
    top: 60px;
    right: 0;

    display: flex;  
    justify-content: center;
    align-items: center;

    width: calc(100% - 250px);
    padding-bottom: 80px; 
    padding: 30px;  
    min-height: calc(100% - 60px);
}  

// Modifiers 
.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.clicked {background-color: grey;}

// Transitions 
.fade-enter-active, .fade-leave-active {
    opacity: 1;
    transform: scale(100%); 
    transition: all 0.3s; 
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: scale(50%); 
}

.fadeIn-enter-active, .fadeIn-leave-active {
    opacity: 1; 
    transition: all 0.3s; 
}

.fadeIn-enter, .fadeIn-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0; 
}

.navOpen {left: 0px;}

@media (max-width: 768px) {  
    form {font-size: 1.4rem;}
} 

@media (max-width: 600px) { 
    header {
        justify-content: center;
        button {display: block;}
    } 

    nav { 
        left: -300px;
        z-index: 20;
        box-shadow: 10px 10px 10px 5px rgba(47, 177, 209, 0.075);
    }
    
    main,
    .main {width: 100%;}   
} 
 