html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* smooth scroll and default font size set */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* default wrapper - DO NOT CHANGE */
.wrapper {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
}

/* removes default padding and margins*/
body,
ul,
ol,
li,
h1,
h2,
h3,
button,
fieldset,
p {
  margin: 0;
  padding: 0;
}

/* removes list style bullets */
li {
  list-style: none;
}

a {
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button {
  background-color: inherit;
  font-family: inherit;
  border: none;
  letter-spacing: 0.1rem;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

img {
  display: block;
}

input {
  display: block;
}

p {
  line-height: 2.6rem;
}

.draggable {
  background-color: #4AAE9B;
  padding: 10px;
}

.dropzone {
  background-color: #6DB65B;
  padding: 10px;
}

.dragleave {
  background-color: #ffffff;
}

.dragover {
  background-color: #dff7ff;
}

.quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz li {
  background-color: white;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #bae3ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardsContainer {
  height: 100%;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.promptCards,
.answerCards {
  width: calc(50% - 50px);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
  font-family: 'Kosugi Maru', sans-serif;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.promptCards {
  font-size: 2.4rem;
  -ms-grid-columns: (minmax(100px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-auto-rows: 100px;
}

.promptCards div {
  position: relative;
  margin-top: 5px;
  height: 40%;
  width: 80%;
  border-radius: 5px;
  border: 1px dashed #949494;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.answerCards {
  margin: auto;
  font-size: 2rem;
  -ms-grid-columns: (minmax(100px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-auto-rows: 60px;
}

.answerCards li {
  -webkit-box-shadow: 0px 0px 8px 3px #00a9dd1c;
          box-shadow: 0px 0px 8px 3px #00a9dd1c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.answerCards li:hover {
  background-color: #eefaff;
}

.key {
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  color: white;
  font-size: 1.6rem;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #ff85aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nextButton {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ff85aa;
  -webkit-box-shadow: 0 0 10px 2px rgba(231, 122, 155, 0.363);
          box-shadow: 0 0 10px 2px rgba(231, 122, 155, 0.363);
}

.nextButton:focus, .nextButton:hover {
  background-color: #e77a9b;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
}

form input {
  margin-right: 5px;
}

form label {
  cursor: pointer;
}

input:checked + label {
  font-weight: 600;
}

.chartOptions label {
  margin: 5px 0;
}

.chartOptions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  margin-right: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #bae3ff;
  margin-bottom: 5px;
}

.filterOptions {
  margin-bottom: 10px;
  padding: 5px 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #bae3ff;
}

.filterOptions label {
  margin-right: 20px;
}

.chart {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.cardBack {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  opacity: 0;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #ff9fb4;
}

.hiraganaList {
  font-family: 'Kosugi Maru', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 100px))[5];
      grid-template-columns: repeat(5, minmax(50px, 100px));
  grid-auto-rows: 60px;
  grid-gap: 10px;
}

.hiraganaList li {
  position: relative;
  text-align: center;
  font-size: 2.8rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #bae3ff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 8px 3px #00a9dd1c;
          box-shadow: 0px 0px 8px 3px #00a9dd1c;
}

.hiraganaList li:focus, .hiraganaList li:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: pointer;
}

.hiraganaList li:focus .cardBack, .hiraganaList li:hover .cardBack {
  opacity: 1;
}

.hiraganaList li:focus .cardFront, .hiraganaList li:hover .cardFront {
  opacity: 0;
}

.hiraganaList li p {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalOuter {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0000003a;
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modalOuter div {
  width: 300px;
  padding: 30px 20px;
  margin: auto;
  background-color: white;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 5px #24242407;
          box-shadow: 0 0 5px 5px #24242407;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalOuter button {
  color: white;
  margin-top: 15px;
  padding: 10px 30px;
  background-color: #ff85aa;
  -webkit-box-shadow: 0 0 10px 2px #e77a9b5d;
          box-shadow: 0 0 10px 2px #e77a9b5d;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.modalOuter button:focus, .modalOuter button:hover {
  background-color: #e77a9b;
}

.grade {
  font-size: 2.8rem;
  font-weight: 600;
  color: #e77a9b;
  margin: 10px 0;
}

body {
  position: relative;
  background-color: #f2fafd;
  min-height: 100vh;
  min-width: 320px;
  font-size: 1.8rem;
  font-family: 'Manrope', sans-serif;
  color: #222222;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
  cursor: pointer;
}

h2 {
  margin-bottom: 20px;
}

header {
  color: white;
  position: fixed;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.4rem;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  background-color: #181818;
  border-bottom: 1px solid #bae3ff;
}

header button {
  position: absolute;
  left: 20px;
  color: white;
  display: none;
}

section {
  padding-bottom: 50px;
}

nav {
  position: fixed;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100vh - 60px);
  width: 250px;
  padding: 30px 20px 10px 20px;
  color: #2e2e2e;
  font-size: 1.6rem;
  background-color: white;
  border-right: 1px solid #bae3ff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav h3 {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #a3a3a3;
}

nav button {
  text-align: right;
  padding: 5px 10px;
  margin-bottom: 10px;
}

nav button:focus, nav button:hover {
  color: #0e0e0e;
  background-color: #e7e7e7;
}

nav p {
  font-size: 1.4rem;
  text-align: center;
  justify-self: flex-end;
}

.about {
  line-height: 2.8rem;
  max-width: 600px;
  margin: 0 auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  position: absolute;
  top: 60px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px;
  padding: 30px;
  min-height: calc(100% - 60px);
}

.main, footer {
  width: calc(100% - 250px);
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.fade-enter-active, .fade-leave-active {
  opacity: 1;
  -webkit-transform: scale(100%);
          transform: scale(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  -webkit-transform: scale(50%);
          transform: scale(50%);
}

.fadeIn-enter-active, .fadeIn-leave-active {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fadeIn-enter, .fadeIn-leave-to {
  opacity: 0;
}

.navOpen {
  left: 0px;
}

@media (max-width: 768px) {
  .hiraganaList {
    grid-gap: 5px;
  }
  .hiraganaList li {
    font-size: 2.4rem;
  }
  .hiraganaList span:last-child {
    font-size: 1.4rem;
  }
  .chartOptions {
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header button {
    display: block;
  }
  nav {
    left: -300px;
    z-index: 20;
    -webkit-box-shadow: 10px 10px 10px 5px rgba(47, 177, 209, 0.075);
            box-shadow: 10px 10px 10px 5px rgba(47, 177, 209, 0.075);
  }
  main, footer {
    width: 100%;
  }
  .main {
    width: 100%;
  }
}
