html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
 
.draggable { background-color: #4AAE9B; padding: 10px; } 
.dropzone { background-color: #6DB65B; padding: 10px; }

/* GLOBAL */
/* GENERIC OVERRIDES */
body,
ul,
li,
h1,
h2,
h3,
input, 
button,
p {
	margin: 0;
    padding: 0;
}

/* default font size and smooth scrolling - DON'T CHANGE */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* removes the list bullets */
ul {list-style: none;}

/* removes default syling from links */
a {
	  color: inherit;
    text-decoration: none;
    transition: all 0.3s; 
    border-bottom: 1px solid transparent; 
} 

button {
    background-color: inherit; 
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

input { 
    display: block;   
}  

/* makes images as wide as their container */
img {
	  width: 100%;
    height: 100%;
    object-fit: cover;
	  display: block;
}

/* default wrapper - DON'T CHANGE */
.wrapper {
    width: 90%;
    max-width: 1050px;
    margin: 0 auto;
}

body { 
    position: relative;
    background-color: #f2fafd;
    min-height: 100vh;
    min-width: 320px;
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif; 
    color: #222222;
} 

h1 {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center; 
    margin-bottom: 10px;
}

h2 {
    letter-spacing: 0.2rem;
}

header {  
    padding: 20px;
    background-color: #000638;  
    color: white;
    transition: all 0.3s;
}

header button { 
    border: none;
    font-weight: 600;
    font-size: 1.6rem;
    color: pink; 
    letter-spacing: 0.2rem;
    width: 90px;
    padding: 5px 0;
    margin: 0 20px;
}

.navButtons {
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.home button {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    margin: 20px 0;
    display: flex;
    align-items: center;  
    font-weight: 600;
    /* background-image: linear-gradient(to right, #4389A2 0%, #1054ac 100%);  */
    border: none;
    border-radius: 5px; 
} 
/* 
nav div { 
    background-color: #e02683;
    border-radius: 50%; 
    margin-right: 10px;
    width: 30px;
    height: 30px;
}  */

section {    
    display: flex;  
    justify-content: center;
    /* padding: 50px;  */
}

.home { 
    display: flex; 
    text-align: center;
    align-items: center;
    padding: 50px 0;
}

.home p {
    margin-top: 10px;
    line-height: 2.4rem; 
}

.home div { 
    margin: 0 auto;
}

.quizContainer { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsContainer {  
    height: 100%;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.quizContainer li {
    background-color: white;
    box-shadow: 0px 0px 8px 6px #00a9dd21;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center; 
    height: 100%;
} 

.promptCards,
.answerCards {
    width: calc(50% - 50px);   
    flex: 1 0 250px;
    font-family: 'Kosugi Maru', sans-serif; 
    display: grid;
    grid-gap: 10px;
    padding: 0 20px;
}

.promptCards {
    font-size: 2.4rem;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: 100px;  
}

.promptCards div {
    font-size: 2.2rem;
    margin-top: 5px;
    height: 40%;
    width: 80%;
    border-radius: 5px;
    border: 2px dashed #949494;
    background-color: #f0f0f0;
} 

.answerCards {
    margin: auto;
    font-size: 2rem;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: 60px; 
}

.answerCards li { 
    letter-spacing: 0.2rem;
    background-color: #4d4d4d;
    color: white;
    cursor: pointer;
}

.nextButton {  
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    background-image: linear-gradient(to right, #9743a2 0%, #5C258D 100%);
}

/* Hiragana Chart Styles */
.hiraganaContainer {
    position: relative;  
    /* max-width: 500px;  */
    margin: 0 auto; 
}

.hiraganaContainer li {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hiraganaList {
    font-family: 'Kosugi Maru', sans-serif; 
    display: grid;
    grid-template-columns: repeat(5, minmax(30px, 1fr));
    grid-auto-rows: 60px;
    grid-gap: 15px;
}

.hiraganaList li { 
    display: flex;
    flex-direction: column;
    background-color: white; 
    border-radius: 5px;
    font-size: 2.8rem; 
    transition: all 0.3s;
    box-shadow: 0px 0px 8px 6px #00a9dd21;
}

.hiraganaList span:last-child {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: rgb(255, 159, 180);
}

.hiraganaList li:hover {
  transform: translateY(-10px); 
  /* transform: rotateY(90deg); */
  cursor: pointer;
}  

.xaxis {
    position: absolute;
    z-index: 0;
    display: flex;
    width: 100%; 
    top: -30px;
}

.xaxis li {
    width: calc(100% / 5); 
}

.yaxis {
    position: absolute;
    font-size: 2.2rem;
    left: -30px;
    top: 0;
}

.yaxis li {
    height: 70px;
    margin-bottom: 10px;  
}

footer {  
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    font-size: 1.4rem;
}

@media (max-width:768px) { 

    .hiraganaList {
        padding: 50px 0;
    }

    .hiraganaList li {  
        font-size: 2.4rem;  
    }

    .hiraganaList span:last-child {
        font-size: 1.4rem; 
    }
}